// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #383D3B
$secondary = #E2B212
$accent    = #BDD4E7

$dark      = #1f2120

$positive  = #A8D4AD
$negative  = #967D69
$info      = #8AB0AB
$warning   = #F2F79E

$typography-font-family = 'Jost', sans-serif
